<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<!-- <jsp-config> <taglib> <taglib-uri>/tags/c</taglib-uri> <taglib-location>/WEB-INF/c.tld</taglib-location> 
		</taglib> </jsp-config> -->

	<display-name>WeiboStudy</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>sitemap.xml</welcome-file>

	</welcome-file-list>

	<servlet>
		<description></description>
		<display-name>HelloWorld</display-name>
		<servlet-name>HelloWorld</servlet-name>
		<servlet-class>jav.HelloWorld</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloWorld</servlet-name>
		<url-pattern>/HelloWorld</url-pattern>
		<url-pattern>/Hello</url-pattern>
	</servlet-mapping>
	<servlet>

		<servlet-name>Display</servlet-name>
		<servlet-class>jav.DisplayServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Display</servlet-name>
		<url-pattern>/display</url-pattern>

	</servlet-mapping>
	<servlet>

		<servlet-name>Pagerank</servlet-name>
		<servlet-class>jav.PagerankServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Pagerank</servlet-name>
		<url-pattern>/pagerank</url-pattern>

	</servlet-mapping>

	<servlet>

		<servlet-name>Visual</servlet-name>
		<servlet-class>jav.VisualServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Visual</servlet-name>
		<url-pattern>/vis</url-pattern>

	</servlet-mapping>
	<servlet>

		<servlet-name>Dispatcher</servlet-name>
		<servlet-class>jav.Dispatcher</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Dispatcher</servlet-name>
		<url-pattern>/dispatch</url-pattern>

	</servlet-mapping>

	<servlet>
		<servlet-name>Entrance</servlet-name>
		<jsp-file>/entrance.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>Entrance</servlet-name>
		<url-pattern>/entrance</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Demo</servlet-name>
		<jsp-file>/demo.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>Demo</servlet-name>
		<url-pattern>/demo</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Home</servlet-name>
		<jsp-file>/home.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	
	
	


</web-app>